fastapi==0.118.0
uvicorn==0.37.0
sqlalchemy==2.0.43
sqlalchemy-utils==0.42.0
passlib==1.7.4
bcrypt==4.0.1
python-jose==3.5.0
cryptography==46.0.2
pydantic==2.11.10
python-multipart==0.0.20
python-magic==0.4.27
openpyxl==3.1.5
python-dotenv==1.1.1
fastapi-mail==1.5.0
